@import "tailwindcss";

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@theme {
    --spacing-95p:95%;  
    --spacing-25p:25%;
    --spacing-200px:200px;
    --spacing-80p:80%;
    --animate-progresss:progress linear 1s
}

@keyframes progress {
    from{
        stroke-dashoffset: -440;
    }
}